<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="android.support.v17.leanback.supportleanbackshowcase">


    <uses-sdk

        tools:overrideLibrary="android.support.media.tv" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />



    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:banner="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Example.LeanbackLauncher">


        <activity
            android:name=".app.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.Leanback.CustomTitle">
            <intent-filter>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.settings.MySettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackPreferences" />
        <activity
            android:name=".app.details.DetailViewActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.Leanback.CustomTitle" />


        <activity
            android:name=".app.media.LiveActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.Example.Leanback.CustomTitle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.room.controller.search.SearchableActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".data.VideoContentProvider"
            android:authorities="android.support.v17.leanback.supportleanbackshowcase"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <receiver
            android:name=".recommendations.RecommendationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".app.media.YoutubePlayerActivity"
            android:noHistory="true"
            android:theme="@style/Theme.Example.Leanback.CustomTitle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.room.controller.search.SearchActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback.Details.NoSharedElementTransition" />
        <activity
            android:name=".app.CheckDeviceActivity"
            android:noHistory="true"
            android:theme="@style/Theme.Leanback.Details.NoSharedElementTransition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chromecast.ChromecastActivity"
            android:theme="@style/MobileAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="android.support.v17.leanback.supportleanbackshowcase.chromecastFeature.CastOptionsProvider" />

        <activity android:name=".app.mobile.activity.MobileMainActivity"
            android:theme="@style/MobileAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>


        <service
            android:name=".recommendations.UpdateRecommendationsService"
            android:enabled="true" />



</application>

</manifest>